<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>login</title>
</head>
<body>
    <header>
        <div class="container-logo-search-bar">
          <div class="flex-grow-50"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
          <div class="container-search-bar">
            <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" style="overflow: inherit; display: inherit;">
              <input type="text" placeholder="Buscar productos, marcas y más…">
              <button type="submit" class="nav-search-btn" tabindex="3">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>
        <h4><i class='fa-solid fa-hand-holding-dollar'></i> Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li><a href='deals'>Ofertas</a></li>
                <li><a href='officialStores'>Tiendas Oficiales</a></li>
                <li><a href='sell'>Vender</a></li>
                <li><a href='help'>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href='register'>Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href='login'>Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href='myshopping'>Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
      <form action="login" method="post" id="login" name="login">
        <div>
          <label for="username">Nombre de usuario
            <input type="text" name="username" id="username">
          </label>
        </div>
        <div>  
          <label for="password">Confirmar contraseña
            <input type="password" name="password" id="password">
          </label>
        </div>   
          <input type="submit" class="boton" value="iniciar">
      </form>
     </main>
  </body>

</html>